@model EditModel

@{
    ViewBag.Title = "Изменение данных";
}

<body>
    @Html.Partial("~/Views/Header/Authtorized.cshtml", Model.user);
    <div class="container mx-auto my-auto d-flex commond" style="width= 100%;">
        <div class="row mx-auto">
            <form action="/Admin/EditPage" method="post">
                <select name="selected" asp-items="Model.classes"></select>

                @if (Model.exception != null)
                {
                    <div class="common margin: 1%">
                        <h1 style="color: red">Ошибка!!!</h1>
                        <h3>@Convert.ToString(Model.exception)</h3>
                    </div>
                }

                <button type="submit" class="btn btn-primary" style="margin: 10px">Вывести</button>

                @if (Model.selected != null)
                {
                    <input type="submit" class="btn btn-primary" style="margin: 10px" value="Добавить" name="submitButton" readonly />

                    List<string> variables = new List<string>();

                    @if (Model.selected == "Водители")
                    {
                        variables = Model.names.valuesDriver;
                    }
                    else if (Model.selected == "Маршруты")
                    {
                        variables = Model.names.valuesRoute;
                    }
                    else if (Model.selected == "Транспорт")
                    {
                        variables = Model.names.valuesTransport;
                    }
                    else if (Model.selected == "Транспортные карты")
                    {
                        variables = Model.names.valuesTransportCard;
                    }
                    else if (Model.selected == "Поездки")
                    {
                        variables = Model.names.valuesTrip;
                    }
                    else if (Model.selected == "Пользователи")
                    {
                        variables = Model.names.valuesUser;
                    }
                    else if (Model.selected == "Модели транспорта")
                    {
                        variables = Model.names.valuesTransportVehicle;
                    }
                    else if (Model.selected == "Случаи пополнения")
                    {
                        variables = Model.names.valuesPurchase;
                    }
                    <h1>Первичный ключ менять нельзя</h1>

                    <table class="table" style="margin-top: 2%">
                        <thead>
                            <tr>
                                <th scope="col">№</th>

                                @for (int i = 0; i < variables.Count; i++)
                                {
                                    <th scope="col">@variables[i]</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.selected == "Водители")
                            {
                                List<Driver> values = Model.drivers;
                                @for (int i = 0; i < values.Count; i++)
                                {
                                    <tr>
                                        <th scope="row">@(i + 1)</th>
                                        <td>@values[i].pk_id_driver</td>
                                        <td>@values[i].name</td>
                                        <td>@values[i].surname</td>
                                        <td>@values[i].patronymic</td>
                                        <td><input type="submit" class="btn btn-primary" style="margin: 10px" value="Изменить №@(i+1)" name="submitButton" readonly /></td>
                                        <td><input type="submit" class="btn btn-primary" style="margin: 10px" value="Удалить №@(i+1)" name="submitButton" readonly /></td>
                                    </tr>
                                }
                            }
                            else if (Model.selected == "Маршруты")
                            {
                                List<Route> values = Model.routes;
                                @for (int i = 0; i < values.Count; i++)
                                {
                                    <tr>
                                        <th scope="row">@(i + 1)</th>
                                        <td>@values[i].pk_id_route</td>
                                        <td>@values[i].start_point</td>
                                        <td>@values[i].end_point</td>
                                        <td><input type="submit" class="btn btn-primary" style="margin: 10px" value="Изменить №@(i+1)" name="submitButton" readonly /></td>
                                        <td><input type="submit" class="btn btn-primary" style="margin: 10px" value="Удалить №@(i+1)" name="submitButton" readonly /></td>
                                    </tr>
                                }
                            }
                            else if (Model.selected == "Транспорт")
                            {
                                List<Transport> values = Model.transports;
                                @for (int i = 0; i < values.Count; i++)
                                {
                                    <tr>
                                        <th scope="row">@(i + 1)</th>
                                        <td>@values[i].pk_car_num</td>
                                        <td>@values[i].fk_id_vehicle</td>
                                        <td><input type="submit" class="btn btn-primary" style="margin: 10px" value="Изменить №@(i+1)" name="submitButton" readonly /></td>
                                        <td><input type="submit" class="btn btn-primary" style="margin: 10px" value="Удалить №@(i+1)" name="submitButton" readonly /></td>
                                    </tr>
                                }
                            }
                            else if (Model.selected == "Транспортные карты")
                            {
                                List<TransportCard> values = Model.transportCards;
                                @for (int i = 0; i < values.Count; i++)
                                {
                                    <tr>
                                        <th scope="row">@(i + 1)</th>
                                        <td>@values[i].pk_id_card</td>
                                        <td>@values[i].fk_id_owner</td>
                                        <td>@values[i].balance</td>
                                        <td>@values[i].data_issue</td>
                                        <td><input type="submit" class="btn btn-primary" style="margin: 10px" value="Изменить №@(i+1)" name="submitButton" readonly /></td>
                                        <td><input type="submit" class="btn btn-primary" style="margin: 10px" value="Удалить №@(i+1)" name="submitButton" readonly /></td>
                                    </tr>
                                }
                            }
                            else if (Model.selected == "Модели транспорта")
                            {
                                List<TransportVehicle> values = Model.transportVehicles;
                                @for (int i = 0; i < values.Count; i++)
                                {
                                    <tr>
                                        <th scope="row">@(i + 1)</th>
                                        <td>@values[i].pk_id_vehicle</td>
                                        <td>@values[i].brand</td>
                                        <td>@values[i].model</td>
                                        <td><input type="submit" class="btn btn-primary" style="margin: 10px" value="Изменить №@(i+1)" name="submitButton" readonly /></td>
                                        <td><input type="submit" class="btn btn-primary" style="margin: 10px" value="Удалить №@(i+1)" name="submitButton" readonly /></td>
                                    </tr>
                                }
                            }
                            else if (Model.selected == "Поездки")
                            {
                                List<Trip> values = Model.trips;
                                @for (int i = 0; i < values.Count; i++)
                                {
                                    <tr>
                                        <th scope="row">@(i + 1)</th>
                                        <td>@values[i].pk_num_trip</td>
                                        <td>@values[i].fk_id_tr</td>
                                        <td>@values[i].fk_id_card</td>
                                        <td>@values[i].fk_id_driver</td>
                                        <td>@values[i].time_pay</td>
                                        <td>@values[i].num_route</td>
                                        <td><input type="submit" class="btn btn-primary" style="margin: 10px" value="Изменить №@(i+1)" name="submitButton" readonly /></td>
                                        <td><input type="submit" class="btn btn-primary" style="margin: 10px" value="Удалить №@(i+1)" name="submitButton" readonly /></td>
                                    </tr>
                                }
                            }
                            else if (Model.selected == "Пользователи")
                            {
                                List<UserAccount> values = Model.users;
                                @for (int i = 0; i < values.Count; i++)
                                {
                                    <tr>
                                        <th scope="row">@(i + 1)</th>
                                        <td>@values[i].passport_num</td>
                                        <td>@values[i].name</td>
                                        <td>@values[i].surname</td>
                                        <td>@values[i].patronymic</td>
                                        <td>@values[i].pk_login</td>
                                        <td>@values[i].password</td>
                                        <td>@values[i].email</td>
                                        <td>@values[i].role</td>
                                        <td>@values[i].birthday</td>
                                        <td><input type="submit" class="btn btn-primary" style="margin: 10px" value="Изменить №@(i+1)" name="submitButton" readonly /></td>
                                        <td><input type="submit" class="btn btn-primary" style="margin: 10px" value="Удалить №@(i+1)" name="submitButton" readonly /></td>
                                    </tr>
                                }
                            }
                            else if (Model.selected == "Случаи пополнения")
                            {
                                List<Purchase> values = Model.purchases;
                                @for (int i = 0; i < values.Count; i++)
                                {
                                    <tr>
                                        <th scope="row">@(i + 1)</th>
                                        <td>@values[i].pk_num_purchase</td>
                                        <td>@values[i].fk_id_card</td>
                                        <td>@values[i].name_purchase</td>
                                        <td>@values[i].price</td>
                                        <td>@values[i].amount</td>
                                        <td><input type="submit" class="btn btn-primary" style="margin: 10px" value="Изменить №@(i+1)" name="submitButton" readonly /></td>
                                        <td><input type="submit" class="btn btn-primary" style="margin: 10px" value="Удалить №@(i+1)" name="submitButton" readonly /></td>
                                    </tr>
                                }
                            }


                        </tbody>
                    </table>
                }
            </form>
        </div>
    </div>
</body>